body {
    background-image: url('https://c1.wallpaperflare.com/preview/791/226/354/sunset-clouds-sky-after-the-rain-cloud-weather.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-shadow:#3d3b3b;
    font-size: 70px;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin: 10px;
    width: 250px;
    font-size: 16px;
    outline: none;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #060400;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  #result {
    color: rgb(10, 10, 10);
    margin-top: 20px;
    font-size: 20px;
  }
  
  .weather-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .weather-details span {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: rgb(16, 16, 16);
    font-size: 16px;
  }
  
  .weather-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
  }